body {
  font-family: cursive;
  background:url(images/lobby-with-bokeh-effect_1203-623.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(238, 174, 55);
  padding: 20px;
  transition: 0.5s;
  z-index: 100;
}

.sidebar a {
  font-family: arial;
  padding: 20px 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
}

.content {
  margin-left: 260px;
  padding: 20px;
  width: calc(100% - 260px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: orange;
  font-size: 36px;
  margin-bottom: 20px;
}

.description {
  text-align: center;
  margin-bottom: 20px;
}

.description p {
  line-height: 1.6;
  color: black;
  max-width: 800px;
  margin: 0 auto;
  font-weight: bold;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.gallery img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #131313;
}

.gallery img:hover{
  transform: scale(1.05);
}



/* Responsive Design */
@media (max-width: 768px) {
  .content {
    margin-left: 0;
    width: 100%;
  }

  .sidebar {
    width: 20%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }



  .gallery img {
    max-width: 100%;
  }
}
